/*Font-face*/
@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }




/*Variables */

:root{
    /**colors**/
    --blue-0: #2B2D42;
    --grey-primary: #8D99AE;
    --grey-secondary: #EDF2F4;
    --red-primary: #9A031D;
    --red-secondary: #D90429;
    --red-third:#F8A3B2;
    --green-primary:#02735B;
    --green-secondary:#06D6A0;
    --green-third:#7CFBDA;
    --blue-dark:#125799;
    --blue-primary:#1474E5;
    --blue-secondary:#4895EF;
    --blue-third:#B9D4F3;
    --white:#fff;
    --black:#000;

}


body{
    font-family: Montserrat;
    position:relative;

}

/** Background-color **/

.bg-blue-0{
background-color: var(--blue-0);
}

.bg-grey-primary{
    background-color: var(--grey-primary);
}

.bg-grey-secondary{
    background-color: var(--grey-secondary);
}

.bg-red-primary{
    background-color: var(--red-primary);
}
            
.bg-red-secondary{
    background-color: var(--red-secondary);
}
            
.bg-red-third{
    background-color: var(--red-third);
}
.bg-green-primary{
    background-color: var(--green-primary);
}
            
.bg-green-secondary{
    background-color: var(--green-secondary);
}
     
.bg-blue-dark{
    background-color: var(--blue-dark);
}

.bg-blue-primary{
    background-color: var(--blue-primary);
}
.bg-blue-secondary{
    background-color: var(--blue-secondary);
}
.bg-blue-third{
    background-color: var(--blue-third);
}

/** Text-color **/

.text-white{
    color:#fff;
}

.text-black{
    color:#000
}

.text-blue-0{
    color: var(--blue-0);
}
    
.text-grey-primary{
    color: var(--grey-primary);
}
    
.text-grey-secondary{
    color: var(--grey-secondary);
}
    
.text-red-primary{
    color: var(--red-primary);
}
                
.text-red-secondary{
    color: var(--red-secondary);
}
                
.text-red-third{
    color: var(--red-third);
}
.text-green-primary{
    color: var(--green-primary);
}
                
.text-green-secondary{
    color: var(--green-secondary);
}
         
.text-blue-dark{
    color: var(--blue-dark);
}
    
.text-blue-primary{
    color: var(--blue-primary);
}

.text-blue-secondary{
    color: var(--blue-secondary);
}

.text-blue-third{
    color: var(--blue-third);
}

.card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:18px;
}

.btn{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem 1.8rem;
    width: fit-content;
    font-family: Orbitron;
    font-weight: bold;
    cursor: pointer;
    
}

.btn-large{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem 1.8rem;
    width: 100%;
    font-family: Orbitron;
    font-weight: bold;
    cursor: pointer;

}

.btn:active{
    opacity: 0.5;
}

/**Button styles **/

.btn-primary{
    background-color: var(--blue-primary);
    color:var(--white);
}
.btn-alert{
    background-color: var(--red-primary);
    color:var(--white);
}
.btn-success{
    background-color: var(--green-primary);
    color:var(--white);
}

.mx-auto
{
    margin-left: auto !important;
    margin-right: auto !important;
}


/** Form* */

.form-control
{
    margin:2.3rem 0 3.2rem 0;
    width: 100%;
    font-size: 1.5rem;;
}

.form-control label{
    display: block;
    margin-bottom:1rem;
    font-family: Orbitron;
    font-weight: bold;

}
.form-control input ,.form-control  textarea {
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 12px 10px;
    border: 2px solid var(--grey-primary);
    outline:var(--blue-primary);
}

.form-control input:focus,.form-control  textarea:focus{
    border: 2px solid var(--blue-primary);
}



.theme-wrapper{
    max-width:100%;
    min-height: 100vh;
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5rem;
}



.title{
    font-family: Orbitron;
    font-weight: bold;
}

/** Page Connexion **/

.theme-wrapper .connexion-card{
width: 100%;
}

.connexion-card .logo-presentation{
    width: 80px;
    height: 80px;
    margin: 2.5rem auto 3.8rem auto;
}

.connexion-card input{
    color: var(--white);
  
}

.connexion-card .btn-large{
   font-size: 1.8rem;
   padding: 18px 10px;
   margin-top:2rem
}

.connexion-card-bottom{
    text-align: center;
    color:var(--white);
    margin: 3.8rem 0;
    font-family: Orbitron;
}

.input-error{
    border-color: #f4657e;
}
.error-validation{
    color: #f4657e;
}
/**Display**/

.text-center{
    text-align: center;
}

.d-grid
{
    display:grid;
}

.place-center{
    place-items: center;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.direction-column{
    flex-direction: column;
}

/**Navbar **/
.header-nav
{
padding: 1.4rem 1.8rem;
 background-color: var(--black);
 position: sticky;
 top: 0;

}


.logo-navigation img{
    height: 40px;width: 40px;;
object-fit: cover;
}

.header-nav a{
    display: inline-block;
    width: fit-content;
}

.header-nav nav{
    display: block;

    background-color: var(--black);
    width: 100%;
    font-family: Orbitron;
    font-size: 2rem;
    position:relative;
}
.list-nav{
    display: flex;
    flex-direction: column;
    margin-top: 28px;
 
}

.list-nav li{
    color: #ffffff80;
}
.list-nav li:hover{
    color: var(--white);
}

.list-nav .active{
    color: var(--white); 
}

.header-nav nav figure{
    display: flex;
    align-items: center;
    color: var(--white);
  
}
.header-nav nav figure figcaption{
    margin-left: 1.8rem;
    font-weight: bold;

}

.toggle-menu{
    width: 35px;
    height: 25px;
    color:var(--white);
    position: absolute;
    top:1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    
}

.toggle-menu span,.toggle-menu span::before,.toggle-menu span::after{
    height: 2px;
    width: 100%;
    background-color: var(--white);
}

.toggle-menu span{
    content: "";
    position: absolute;
    transition: all 0.35s;

   
}
.toggle-menu span::before{
    content: "";
    position: absolute;
    top: 10px;
    transition: all 0.35s;

    
}

.toggle-menu span::after{
    content: "";
    position: absolute;
    bottom: 10px;
    transition: all 0.35s;
  
    
}

.close-toggle span {
   transform:  rotate(45deg);
   -webkit-transform:  rotate(45deg);
   -moz-transform:  rotate(45deg);
   -ms-transform:  rotate(45deg);
   -o-transform:  rotate(45deg);
   transition: all 0.35s;
   -webkit-transition: all 0.35s;
   -moz-transition: all 0.35s;
   -ms-transition: all 0.35s;
   -o-transition: all 0.35s;
}



.close-toggle span::before,.close-toggle span::after{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    bottom: 0px;
    top: 0;
    
}

.close-nav{
    display: none;
}


    
.list-nav li{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
    
.list-nav li a{
    display: flex;
    align-items: center;
}
.list-nav li svg{
    width: 30px;
    height: 30px;
    margin-right: 0.8rem;
}



/* Table */
.table-section{
    width: 90vw;
    max-height: 100vh;
    margin:2rem auto;
    overflow-x: auto;
    padding-left: 18px;
    padding-right: 18px;

  
}
.table{
    border:none;
    border-spacing: 0 15px;
    border-collapse: separate;
    min-width: 100%;
    margin: auto;
}

.table thead th{
    font-family: Orbitron ;
    font-weight: bold;
}

.table thead th, .table tbody td
{
    border: none;
    vertical-align: middle;
    text-align: left;   
}

.table thead th:last-of-type {
    text-align: center;
  }
  .table tbody td:last-of-type {
    text-align: center;
  }

.table thead,.table thead th,.table tbody td {

padding: 0.8rem;
}

.table tbody {
    border-spacing: 0 15px;
    border-collapse: separate;
    border-color: inherit;
  }

  .table tbody tr {
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    color: var(--white);
  
  }

  .table tbody tr{
    background: var(--grey-primary);
  }

  .table tbody tr:hover{
    background-color: #8D99AE80;
    color: var(--blue-0);
  }



  tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
  }
  .table tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
  }

  tbody tr td {
    white-space: nowrap;
  }

  .table select{
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    min-width: 100px;
  }

  .action-col{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .action-col button{
    text-align: center;
    display: inline-block;
  }
  .action-col button:first-child{
        margin-right: 1rem;
  }

  .table .action-btn-delete{
    border:2px solid var(--red-primary);
    color: var(--red-primary);
    width:50px;
    height:50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--red-third);
}



.table .action-btn-show{
    color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
    background-color: var(--blue-third);
    width:50px;
    height:50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

}






/** Media queries  **/
@media screen and (min-width:550px){
/**Navbar **/
.header-nav
{
 padding: 2rem 1.8rem;
 background-color: var(--black);
 position: sticky;
 top: 0;

}

.header-nav .logo-navigation img{
    height: 50px;width: 50px;
}

    .theme-wrapper .connexion-card{
        width: 38rem;
        padding-left: 22px;
        padding-right: 22px;
        }
        
}


@media screen and (min-width:990px) {
    .toggle-menu {
        display: none;
    }
    .header-nav nav{
        display: flex;
        padding: 1.2rem 2.2rem;
        background-color: var(--black);
        width: 100%;
        font-family: Orbitron;
        justify-content: space-between;
        font-size: 1.4rem;
    }
    
    .header-nav nav figure{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-nav nav figure figcaption{
        margin-left: 1.8rem;
        font-weight: bold;
    
    }
    .list-nav{
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    
    
    .header-nav nav ul li {
        margin-right: 2.2rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .list-nav li a{
        display: flex;
        align-items: center;
    }
    .list-nav li svg{
        width: 30px;
        height: 30px;
        margin-right: 0.8rem;
       
    }

    
    .table .action-btn-delete:hover{
        background-color: var(--red-primary);
        color: var(--white);
    }


    .table .action-btn-show:hover{
        background-color: var(--blue-dark);
        color: var(--white);
    
    }

    .table .action-btn-show:active{
        color: var(--blue-dark);
        background-color: var(--blue-third);
    }
    
    .table .action-btn-delete:active{
        background-color: var(--red-third);
        color: var(--red-primary);
    }
    
    
}

